.header {
    text-align: center;
    background: #002856;
    border-radius: 8px;
    color: #fff;
    margin: 15px 0px;
    padding: 5px 0px;
}

.content {
    background: #ffffffad;
    border-radius: 8px;
    padding: 10px;
}

.form {
    background: #1e1e1e;
    border-radius: 8px;
    padding: 30px;
    height: 100%;
    color: #fff;
}